@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

html {
  overflow-x: hidden;
  max-width: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), Arial, Helvetica, sans-serif;
}
